:root{
    --blue:#3c6382;
    --dark-blue:#0a3d62;
  }
  
  *{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
  }

  body {
    
    background-attachment: fixed;
  }
  
  *::selection{
    background:var(--dark-blue);
    color:#fff;
  }
  
  html{
    font-size: 60.5%;
    overflow-x: hidden;
  }
  
  section{
    min-height: 100vh;
    padding:1rem 9%;
    padding-top: 8rem;
  }
  
  
  .heading{
    height: 50px;
    margin-bottom: 20px;
  }
  
  header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding:2rem;
  }
  
  header .titre{
    font-size: 2.5rem;
    color:var(--dark-blue) ;
    align-self: auto;
    text-decoration: none;
  }
  
  header .logo {
    align-self: center;
    color:var(--blue);
    margin-right: 0px;
  }
  
  header .navbar a{
    text-decoration: none;
    font-size: 1.7rem;
    margin-left: .2rem;
    padding:.5rem 2rem;
    border-radius: .5rem;
    color:var(--dark-blue);
  }
  
  header .navbar a.active,
  header .navbar a:hover{
    background: var(--blue);
    color:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  
  header.sticky{
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  
  #menu{
    font-size: 3rem;
    color:var(--blue);
    cursor: pointer;
    display: none;
  }







  .submit{
    text-decoration: none;
    font-size: 1.7rem;
    margin-left: .2rem;
    padding:.5rem 2rem;
    border-radius: .5rem;
    color:var(--dark-blue);
  }





  #myDiv {
    border-radius: 40px;
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
     /* background: linear-gradient(to top, #CDEFFF ,  #ffff); */
    background-image: url("../Assets/Images/CONNEXION_BG.png");
    background-repeat: no-repeat;
    background-size: cover;
     box-shadow: 0 .5rem 3rem rgba(0,0,0,.1);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    z-index: 1000; /* add a higher z-index value */
  }
  
  #myDiv.show {
    right: 0;
  }




/* Decoration de la partie profil du patient  */


.grid-container {
  height:290px; 
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 25px;
  column-gap: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
  grid-template-rows: repeat(3, 1fr); /* Create a 2-row grid */
  row-gap: 14px; /* Add some spacing between grid items */
  justify-items: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  border-radius: 30px;
  background: linear-gradient(to top, #CDEFFF ,  #ffff);
  border:1px solid #cbecfb ;
  box-shadow: 0 .5rem 3rem rgba(0,0,0,.1);
}
 
 #g-i1{
  
  margin-top: 20px;
  grid-column: span 3 ; 
   grid-row: 1; 
   width: 120px;
   height: auto;
   
 }



 #g-i2 {
  height: 30px;
 grid-column: span 3; 
   grid-row: 2; 
 }
 .gi3{
 grid-column: 1 ; 
   grid-row: 3; 
   
 }
 .gi4{
 grid-column: 2 ;
  grid-row: 3; 

 }

 .gi5{
  grid-column: 3 ;
  grid-row: 3;  
 }

 .grid-item{
  background-color: var(--blue);
  border-radius: 20px;
  width: 80px;
  
}

.grid-container h3{
  font-size: 18px;
  color: var(--blue) ; 
}

.grid-item h4{
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
  color: white ;  
}







#calendar {
  background: linear-gradient(to top, #CDEFFF ,  #ffff);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center; /* Center grid items horizontally */
  align-items: center; 
  height: 290px;
  margin: 20px 40px;
  border-radius: 30px;
  
  text-align: center;
  border:1px solid #cbecfb ;
  box-shadow: 0 .5rem 3rem rgba(0,0,0,.1);
}

#calendar > div:nth-child(-n+7) {
  font-size: 14px;
  margin-top: 5px;
  color: var(--dark-blue);
  text-align: center;
}

div:not(:nth-child(-n+7)) {
  text-align: center;
  font-size: 12px;
}






